* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
main {
  width: 100%;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffc5;
}
.blogs {
  margin: 0 auto;
  max-width: 70%;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: rgb(29, 41, 52);
}
.logo {
  font-weight: bold;
  font-size: 25px;
}
header nav {
  display: flex;
  gap: 15px;
  font-size: 18px;
}
div.post div.texts h2 {
  margin: 0;
}
div.post div.texts a {
  text-decoration: none;
  color: inherit;
}
.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  background-color: #fdfcfc;
}

.post + .post {
  margin-top: 70px; /* Adjust the margin as needed */
}
.img {
  margin: 20px;
}

.texts {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1100px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
  .hello {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .texts {
    margin-top: 20px;
    margin-left: 30px;
  }

  .img {
    margin-bottom: 0px;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

div.post p.info {
  margin: 5px 0;
  font-weight: bold;
  font-size: 0.7rem;
  color: #888;
  display: flex;
  gap: 10px;
}
.author {
  color: #333;
  font-size: 12px;
}
.summary {
  margin-top: 0;
  line-height: 1.5rem;
}
.login,
.register {
  max-width: 400px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 8px;
  border: 2px solid #ddd;
  border-radius: 7px;
}
input:focus {
  outline: none;
  border: 2px solid rgb(146, 146, 173);
}

.login,
.register {
  text-align: center;
  color: #f0f2fb;
}
div.post-page div.image {
  max-height: 400px;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
}
div.post-page h1 {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 15px;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  margin-bottom: 0px;
}
div.post-page div.author {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}
div.edit-row {
  text-align: center;
}
div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn,
div.post-page .delete-btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 11px 16px;
  background-color: #63656c;
  cursor: pointer;
  border: 2px solid;
  border-radius: 26px;
  color: antiquewhite;
  transition: background-color 0.3s, border-color 0.3s;
  width: 140px;
  box-sizing: border-box;
  letter-spacing: 1.2px;
  font-family: "Arial";
}

div.post-page .delete-btn {
  margin-left: 10px;
  font-size: 15px;
  padding: 14px 20px;
}

div.post-page a.edit-btn:hover,
div.post-page .delete-btn:hover {
  background-color: #a6a7ac;
  border-color: #bcbec8;
}

div.post-page div.edit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.loading {
  font-size: 18px;
  color: #555;
  margin-left: 10px;
}
div.content p {
  line-height: 1.6rem;
}
div.content li {
  margin-bottom: 10px;
}

/*Test Colors*/
.auth-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #fff; /* White text color */
  width: 120px;
  background-color: #5f5f6a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  letter-spacing: 1.3px;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.auth-btn:hover {
  background-color: #89898e; /* Darker color on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-left: 20px;
  color: #2f2f2f;
  font-family: Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 28px;
}

.authbtn {
  width: 40%;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 40px;
  background-color: #4c4949;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.authbtn:hover {
  background-color: #85868c;
  border-color: #bcbec8;
}

.after-login {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #fff; /* White text color */
  width: 120px;
  background-color: #5f5f6a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  letter-spacing: 1.3px;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.after-login:hover {
  background-color: #89898e; /* Darker color on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hello {
  margin-right: 20px;
  white-space: nowrap;
  text-decoration: underline;
  color: #333;
  margin-top: 20px;
}
.username {
  color: rgb(106, 95, 97);
  font-weight: bold;
  text-transform: capitalize;
}
.myblog {
  display: flex;
  gap: 40px;
  margin-left: 10%;
}
.middle {
  font-size: 22px;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  color: #48494d;
}
.middle:hover {
  text-decoration: underline;
}
.login,
.register {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.login h1,
.register h1 {
  color: #333;
}

.login input,
.register input {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login button,
.register button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #52525a;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #5f5f6a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  letter-spacing: 1.3px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login button:hover,
.register button:hover {
  background-color: #838181; /* Darker color on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.No {
  text-align: center;
  color: #888;
  margin-top: 100px;
}
.hr {
  border: none;
  height: 1.4px;
  background-color: #ddd;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
@media screen and (min-width: 100px) and (max-width: 450px) {
  .logo {
    font-size: 20px;
  }
  .myblog {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 8px;
  }
  .middle {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .dash {
    display: none;
  }
  .hello {
    margin-left: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9ff;
  color: #555;
  padding: 20px;
}

.footer p {
  margin: 0;
  font-size: 0.8rem;
}

.footer .copyright-info {
  text-align: center;
  margin-top: 1px;
}

.footer .contact-info {
  text-align: center;
  margin-top: 6px;
}

.footer .founder-info {
  text-align: center;
  margin-top: 6px;
  font-style: italic;
  font-weight: bold;
  color: #808184;
}
